body {
  display: contents;
}

.header {
  float: right;
  margin: 20px;
}

.header-item {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.header-item:hover {
  text-decoration: underline;
}

.main {
  margin-top: 300px;
  text-align: center;
}

.icon-bar {
  margin-top: 20px;
}

.input-box {
  width: 548px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #ccc;
  padding-left: 60px;
  padding-right: 60px;
}

.search-icon {
  position: relative;
  left: 40px;
}

.mic-icon {
  position: relative;
  right: 40px;
}

.button-area {
  padding-top: 18px;
  text-align: center;
  font-size: 24px;
}

.button-area i {
  margin: 0 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #f1f1f1;
  width: 100%;
  border-top: 1px solid #ccc;
}

.footer-item {
  float: right;
  margin: 0 10px;
  text-decoration: none;
}